<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weixin.reward.dao.SettingDao">
    <select id="getSerial" resultType="java.lang.String">
        select serial from setting
    </select>
    <select id="setSerial">
        update setting set serial=#{serial}
    </select>
    <select id="getIndex" resultType="java.lang.Integer">
        select reward_index from setting
    </select>
    <update id="setIndex">
        update setting set reward_index=#{index}
    </update>
    <select id="getReward" resultType="java.lang.String">
        select box${index} from setting
    </select>
</mapper>