<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weixin.reward.dao.UserInfoDao">
        <insert id="saveUserInfo" parameterType="com.weixin.reward.bean.UserInfo">
            insert into userInfo (
            <trim suffixOverrides=",">
            <if test="avatarUrl!=null and avatarUrl!=''">
                avatarUrl,
            </if>
            <if test="city!=null and city!=''">
                city,
            </if>
            <if test="gender!=null and gender!=''">
                gender,
            </if>
            <if test="language!=null and language!=''">
                language,
            </if>
            <if test="nickName!=null and nickName!=''">
                nickName,
            </if>
            <if test="openid!=null and openid!=''">
                openid,
            </if>
            <if test="session_key!=null and session_key!=''">
                session_key,
            </if>
            <if test="account!=null">
                account,
            </if>
            <if test="count!=null">
                count,
            </if>
                <if test="share!=null">
                    share,
                </if>
                <if test="country!=null and country!=''">
                    country,
                </if>
                <if test="province!=null and province!=''">
                    province,
                </if>
                status,
           </trim>

            )
            values (
            <trim suffixOverrides=",">
                <if test="avatarUrl!=null and avatarUrl!=''">
                    #{avatarUrl},
                </if>
                <if test="city!=null and city!=''">
                    #{city},
                </if>
                <if test="gender!=null and gender!=''">
                    #{gender},
                </if>
                <if test="language!=null and language!=''">
                    #{language},
                </if>
                <if test="nickName!=null and nickName!=''">
                    #{nickName},
                </if>
                <if test="openid!=null and openid!=''">
                    #{openid},
                </if>
                <if test="session_key!=null and session_key!=''">
                    #{session_key},
                </if>
                <if test="account!=null">
                    #{account},
                </if>
                <if test="count!=null">
                    #{count},
                </if>
                <if test="share!=null">
                    #{share},
                </if>
                <if test="country!=null and country!=''">
                    #{country},
                </if>
                <if test="province!=null and province!=''">
                    #{province},
                </if>
                   0,
            </trim>
            )
        </insert>
    <select id="getUserInfoByOpenid" resultType="com.weixin.reward.bean.UserInfo">
        select * from userInfo where openid=#{openid}
    </select>
    <insert id="addUserMessage" parameterType="com.weixin.reward.bean.UserMessage">
        insert into message (openid,nickName,content,createTime) values(#{openid},#{nickName},#{content},#{createTime})
    </insert>
    <select id="getUserMessageListByOpenid" resultType="com.weixin.reward.bean.UserMessage">
        select * from message where openid=#{openid} order by createTIme desc
    </select>
    <update id="updateUserInfo" parameterType="com.weixin.reward.bean.UserInfo">
        update userInfo
        <trim prefix="set" suffixOverrides=",">
            <if test="city!=null and city!=''">city=#{city},</if>
            <if test="country!=null and country!=''">country=#{country},</if>
            <if test="gender!=null and gender!=''">gender=#{gender},</if>
            <if test="language!=null and language!=''">language=#{language},</if>
            <if test="nickName!=null and nickName!=''">nickName=#{nickName},</if>
            <if test="province!=null and province">province=#{province},</if>
            <if test="session_key!=null and session_key!=''">session_key=#{session_key},</if>
            <if test="account!=null">account=#{account},</if>
            <if test="count!=null">count=#{count},</if>
            <if test="share!=null">share=#{share},</if>
            status=1,
        </trim>
        where openid=#{openid}
    </update>
</mapper>